@media screen and (max-width: 576px) {
    .nav{
        flex-direction: column;
        max-height: 400px;
    }
    .nav-right{
        display: flex;
        flex-direction: column;
    }
    .nav-left{
        width: 90%;
        margin: 0 auto;
        margin-top: 120px;
    }
    .bannar-section{
        flex-direction: column;
    }
    .bannar-images{
        width: 90%;
        margin: 0 auto;
    }
    .bannar-images img{
        width: 100%;
    }
    .btn{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .products-card{
        flex-direction: column;
    }
    .card{
        width: 90%;
        margin: 0 auto;
    }
    .gallery-photos{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav{
        width: 90%;
        margin: 0 auto;
    }
    main{
        width: 90%;
        margin: 0 auto;
    }
}